/*清除浏览器默认样式*/
body,
ul {
    margin: 0;
    padding: 0;
}
/*清除浮动*/
.clearfix::after{
    content:'';
    display: block;
    clear: both;
}
/*logo样式*/
.logo{font-family: "Arial Black";font-size:24px;}
.topNavBar>a>span:nth-child(1){margin-right: 4px;color: rgb(232, 106, 107);}
.topNavBar>a>span:nth-child(2){color: #9a9da2;}
.topNavBar>a{
    float: left;
    margin-left: 16px;
    text-decoration: none;
}
.topNavBar{padding: 23px 16px;}
.topNavBar>nav>ul{
    float: right;
    padding-top: 2px;
    padding-bottom: 2px;
}
.topNavBar>nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    list-style: none;
}
.topNavBar>nav>ul>li>a{
    display: block;
    color: #172737;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    padding: 3px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.topNavBar>nav>ul>li>a:hover{border-bottom: 3px solid rgb(232, 106, 107);}
